* 
{
	box-sizing:border-box
}

body
{
	width: 80%;
	margin: auto;
	color: white;
	overflow-y: auto;
}

b
{
	color: #09f;
}

/* width */
::-webkit-scrollbar 
{
	width: 10px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track 
{
	background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb 
{
	background: #09f;
	border-radius: 5px;
}

h1, h2, h3
{
	color: #09f;
}

p, ul
{
	padding-top: 20px;
}

.slideshow-container 
{
	width: 65%;
	position: relative;
	margin: 30px auto;
	border: 3px solid #09f;
}

.prev, .next 
{
	cursor: pointer;
	position: absolute;
	top: 45%;
	width: auto;
	padding: 16px;
	color: #09f;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next 
{
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover 
{
	background-color: #333;
	opacity: 0.8;
}

.text 
{
	color: #09f;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	background-color: #333;
	bottom: 0px;
	width: 100%;
	text-align: center;
	opacity: 1;
	transition: 0.5s;
}

.dot 
{
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0px 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	position: relative;
	bottom: -30px;
}

.dot.active, .dot:hover 
{
	background-color: #717171;
}

.fade 
{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

img
{
	width: 100%;
	max-height: 323px;
}

@-webkit-keyframes fade 
{
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade 
{
	from {opacity: .4}
	to {opacity: 1}
}