body
{
	margin: 0px 5%;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	overflow-y: auto;
	width: 70%;
	text-align: justify;
	overflow-x: hidden;
	margin: auto;
	font-size: 10px;
}

h1, h2, h3
{
	color: #09f;
}

a
{
	color: #09f;
	text-decoration: none;
}

/* Size */
::-webkit-scrollbar 
{
	width: 10px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track 
{
	background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb 
{
	background: #09f;
	border-radius: 5px;
}

ul
{
	list-style: circle;
}

li
{
	font-size: 12px;
	margin: 5px 0px;
}
