body
{
	margin: 0px 5%;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	overflow-y: auto;
	/* overflow-x: hidden; */
}

/* width */
::-webkit-scrollbar 
{
	width: 10px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track 
{
	background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb 
{
	background: #09f;
	border-radius: 5px;
}

table 
{
	border-collapse: collapse;
	border-spacing: 0;
	width: 90%;
	border: 1px solid #09f;
	margin: 0px 5%;
}

table tr:first-child
{
	background-color: #09f;
	color: #333;
	border-bottom: 1px solid #09f;
}

table td
{
	border-bottom: 1px solid #09f;
}

th, td 
{
	text-align: left;
	padding: 8px;
}

h1, h2, h3
{
	color: #09f;
}

code
{
	display: block;
	border: 1px solid #333;
	padding: 1%;
	margin-bottom: 3%;
}