/* Column container */
.content:after
{
	display: flex;
	flex-wrap: wrap;
    flex-direction: column;
}

.content div
{
	float: left;
}

.content div:after
{
	clear: both;
}

body
{
	margin: 0px;
	height: 100%;
}

/* Sidebar/left column */
.side 
{
	width: 20%;
	background-color: #333; /* Grey background color */
}

.side ul li
{
	color: white;
}

/* Main column */
.main 
{
	width: 80%;
	height: 500px;
	background-color: white; /* White background color */
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 780px) 
{
	
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 480px) 
{
	
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion
{
	background-color: #333;
	color: #09f;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active
{
	background-color: #09f !important;
	color: #333;
}

.accordion:hover
{
	background-color: #09f;
	color: #333;
	opacity: 0.75;
}

.leaf:hover
{
	background-color: #f90;
	color: #333;
	opacity: 0.75;
}

/* Style the accordion panel. Note: hidden by default */
.panel 
{
	background-color: #333;
	display: none;
	overflow: hidden;
	width: 100%;
	color: #09f;
}

.panel a
{
	width: 90%;
	padding: 10px 10px 10px 30px;
	margin: 5px 5px 5px 5px;
	background-color: #333;
	/* color: #09f; */
	text-align: left;
	display: block;
}

.leaf
{
	background-color: #333;
	color: #f90;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
	border-radius: 10px;
}