aside, #content
{
	margin: 0px;
	padding: 0px;
	float: left;
	height: 100%;
}

aside
{
	width: 15%;
	overflow-y: auto;
}

::-webkit-scrollbar 
{
	width: 0px;
}

.accordion
{
	background-color: #333;
	color: #09f;
	padding: 18px;
	width: 100%;
	text-align: left;
	outline: none;
	transition: 0.4s;
	border-radius: 0px 0px 20px 0px;
	font-size: 16px;
}

.accordion.active
{
	background-color: #09f !important;
	color: #333;
}

.accordion:hover
{
	background-color: #09f;
	color: #333;
	opacity: 0.75;
}

.leaf.active
{
	background-color: #f90;
	color: #333;
	width: 100%;
}

.leaf:hover
{
	background-color: #f90;
	color: #333;
	opacity: 0.75;
}

.panel 
{
	display: none;
	width: 100%;
	color: #09f;
}

.panel a
{
	width: 90%;
	padding: 10px 10px 10px 30px;
	display: block;
	border-radius: 0px 20px 20px 0px;
}

.leaf
{
	/* background-color: #333; */
	color: #f90;
	/* padding: 18px; */
	/* width: 100%; */
	/* text-align: left; */
	/* border: none; */
	/* outline: none; */
	/* transition: 0.4s; */
	/* border-radius: 10px; */
	font-size: 14px;
	cursor: default;
}

#content
{
	width: 85%;
} 

@media screen and (max-width: 780px) 
{
	
}

@media screen and (max-width: 480px) 
{
	
}